body {
    width: 500px;
    margin: auto;
    position: relative;
}

#title {
    color: #a3aeaf;
    margin: 0;
}

#keywordList_activator__wrapper {
    width: 90%;
    margin: auto;
    position: relative;
    border-width: thin;
    border-style: solid;
}

#keywordList_activator__wrapper>span {
    width: 46%;
    display: inline-block;
    text-align: center;
    padding: 2%;
    cursor: pointer;
    font-weight: bold;
}

.keywordListDisplayActivated {
    color: #767574;
    background-color: white;
    box-shadow: 0 0 5px #000;
}

.keywordListDisplayNotActivated {
    background-color: #767574;
    color: white;
    box-shadow: inset 0px 0px 5px #000;
}

#filters__wrapper {
    overflow: hidden;
    width: 90%;
    margin: auto;
    position: relative;
    padding: 5px 0;
}

#filters__wrapper>span {
    display: inline-block;
    cursor: pointer;
    color: #767574;
    text-align: center;
    font-weight: bold;
    padding: .5%;
}

#filters__wrapper>.title {
    width: 84%;
}

#filters__wrapper>.toggle {
    width: 14%;
    float: right;
}

.filters-enabled {
    filter: brightness(100%);
}

.filters-disabled {
    filter: brightness(150%);
}

.filters-enabled>.title {
    color: #686866;
    background-color: #d8d8d6;
}

.filters-enabled>.toggle {
    color: #595957;
    background-color: #bfbfbe;
}

.filters-disabled>.title {
    color: #d7d7d5;
    background-color: #585856;
}

.filters-disabled>.toggle {
    color: #fffffd;
    background-color: #2e2e2e;
}

#filters__wrapper>.list {
    padding-bottom: 20px;
}

#filters__wrapper>.list>div {
    width: 33%;
    position: relative;
    float: left;
    cursor: pointer;
}

#filters__wrapper>.list>div>div {
    width: 100%;
    padding: 3px;
    font-weight: bold;
}

#filters__wrapper>.list>div>div>span.filter_activator {
    margin: auto;
    position: relative;
    font-size: 27px;
    line-height: 16px;
    padding-right: 5px;
}


#filters__wrapper>.list>div>div {
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

#filters__wrapper>.list>div>div.active {
    color: #81817d;
    filter: brightness(50%);

}

#filters__wrapper>.list>div>div.inactive {
    color: #81817d;
    filter: brightness(125%);
}

#keywordList_sorter__wrapper {
    padding: 5px;
    width: 90%;
    margin: auto;
    position: relative;
    font-size: 12px;
    overflow: hidden;
}

#keywordList_sorter__wrapper>span {
    padding: 1%;
    margin: 0;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    float: left;
}

#keywordList_sorter__wrapper>.intro {
    text-align: left;
    padding-left: 0;
    width: 13.5%;
    font-weight: normal;
    color: #4e4e4b;
}

.keywordListSorterOption {
    width: 34%;
}

.keywordListSorterActivated {
    color: #767574;
    background-color: white;
    box-shadow: 0 0 5px #000;
}

.keywordListSorterNotActivated {
    background-color: #767574;
    color: white;
    box-shadow: inset 0px 0px 5px #000;
}

#keywordList_sorter__wrapper>.toggle {
    padding-right: initial 0;
    width: 8.5%;
    margin-left: 3%;
    background-color: #d8d8d6;
    color: #4e4e4b;
}

#keyword_list__wrapper {
    width: 90%;
    margin: auto;
    position: relative;
    overflow: auto;
}

#keyword_list__wrapper>div.selected>.timestamp_toggle {
    display: inline-block;
}


#keyword_list__wrapper>div.not_selected>.timestamp_toggle {
    display: none;
}

#keyword_list__wrapper>div.activated {
    filter: brightness(50%);
    font-weight: bolder;
}

#keyword_list__wrapper>div.not_activated {
    filter: brightness(85%);
    font-weight: 500;
}


.timestamp_list {
    font-weight: 500;
    margin: 10px;
}

.timestamp_list.shown {
    display: block;
}

.timestamp_list.hidden {
    display: none;
}

.timestampSelected {
    font-weight: bolder;
}

.timestampNotSelected {
    font-weight: 500;
}

input.filter_editor {
    display: inline-block;
    font-weight: bold;
    width: 60%;
    background-color: transparent;
    border-width: .5px;
    padding-left: 5px;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    vertical-align: middle;
}

.color_palette__activated {
    filter: brightness(0%)
}


#color_palette {
    background-color: #000;
    width: 75%;
    padding: 10px;
    position: absolute;
    box-shadow: 0 0 3px #212121;
}

#color_palette>.color {
    width: 9%;
    height: 20px;
    margin: .5%;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    line-height: 100%;
    font-weight: bolder
}